# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
venv/
ENV/

# Environment
.env
.env.*

# Flask instance folder (if used)
instance/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Cache
.cache/
